.postList {
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  transform: translateX(100%);
}

.postListItem {
  display: flex;
  background-color: white;
  border-bottom: 1px solid grey;
}
