.postMedia {
  width: 100%;
  display: flex;
  background-color: var(--slate-950);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 24px;
}

.postMediaVideo {
  width: 100%;
  height: 100%;
}

.postMediaVideo video {
  position: relative !important;
}

.postMediaEmbed {
  width: 100%;
  height: 230px;
  display: flex;
}

.postMediaEmbed iframe {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1200px) {
  .postMediaEmbed,
  .postMediaVideo {
    height: 75vh;
  }
}
